:root{
    --cor-bg-header: #FAF6F3;
    --branco-1: #fff;
    --cinza-1: #ECEAEA;
    --ocre: #B1985E;
    --verde-escuro: #1C281B;
    --verde-medio: #3A5D49;
    --verde-destaque: #007934;
    --fonte-pro: 'Source Sans Pro', sans-serif;
    --fonte-serif: 'Source Serif Pro', serif;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    /* background-color: rgb(66,68,155);
    background-color: rgba(66,68,155, 0.9); */
    background-color: var(--verde-medio);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: var(--fonte-pro);
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  @media(max-width: 900px){
    .overlay a{
      font-size: 16px;
    }
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }